<% let statusClass, isCompleted, buttonText; %> 
<% if( status ==="Completed" ) { %>
<%  statusClass="completed"; %> 
<%  isCompleted="true"; %> 
<%  buttonText="Unfinish"; %>  
<% } else {%>
  <%  isCompleted="false"; %>
  <%  buttonText="Finish" %>
  <%  }%>

<tr class="todolist-table-row item-info <%= statusClass %>" id="info-<%= idx %>">
  <td class="todolist-item-title"> <%= title %> </td>
  <td class="todolist-item-desc"> <%= description %> </td>
  <td> <%= priority %> </td>
  <td> <%= status %> </td>
  <td class="todolist-table-actions">
    <button 
      id="edit-btn-<%-idx%>"
      class="edit-btn btn btn-warning"
      onclick="toggleRow('<%= idx %>')"
    >
        Edit
    </button>

    <form action="/todo/todolist?_method=PUT" method="POST">
      <input type="hidden" name="_id" value="<%= idx %>"/>
      <input type="hidden" name="isCompleted" value="<%= isCompleted %>"/>
      <button type="submit" class="btn btn-success">
        <%= buttonText %>
      </button>
    </form>

    <form action="/todo/todolist?_method=DELETE" method="POST">
      <input type="hidden" name="_id" value="<%= idx %>"/>
      <button type="submit" class="btn btn-danger">
        Delete
      </button>
    </form>
    

  </td>
</tr>
<tr class="todolist-table-row item-edit hidden" id="edit-<%= idx %>">

  <form action="/todo/todolist?_method=PUT" method="POST">
    <input type="hidden" name="_id" value="<%= idx %>" />
    <td> 
      <input type="text" name="title" value="<%= title %>" required/>
    </td>
    <td> 
      <input type="text" name="description" value="<%= description %>" required>
    </td>
    <td> 
      <select id="todo-form-priority" name="priority" required>
        <option value="High">High</option>
        <option value="Normal" selected>Normal</option>
        <option value="Low">Low</option>
      </select>
    </td>
    <td> 
      <select id="todo-form-status" name="status" required>
        <option value="Completed">Completed</option>
        <option value="In Progress" selected>In Progress</option>
      </select>
    </td>
    <td class="todolist-table-actions">
      <button 
        id="save-btn-<%= idx %>"
        class="save-btn"
        type="submit"
      >
        Save
      </button>
      <button
        id="cancel-edit-btn-<%= idx %>"
        class="cancel-edit-btn"
        type="button"
        onclick="toggleRow('<%= idx %>')"
      >
        Cancel
      </button>
    </td>
  </form>
</tr>