<% let statusClass, isCompleted, buttonText; %> 
<% if( status ==="Completed" ) { %>
<%  statusClass="completed"; %> 
<%  isCompleted="true"; %> 
<%  buttonText="Unfinish"; %>  
<% } else {%>
  <%  statusClass="inprogress"; %> 
  <%  isCompleted="false"; %>
  <%  buttonText="Finish" %>
  <%  }%>

<tr class="todolist-table-row item-info <%= statusClass %>" id="info-<%= _id %>">
  <td class="todolist-item-title"> <%= title %> </td>
  <td class="todolist-item-desc"> <%= description %> </td>
  <td> <%= priority %> </td>
  <td> <%= status %> </td>
  <td class="todolist-table-actions">
    <button 
      id="edit-btn-<%-_id%>"
      class="edit-btn btn btn-warning"
      onclick="toggleRow('<%= _id %>')"
    >
        Edit
    </button>

    <form action="/todo/todolist?_method=PUT" method="POST">
      <input type="hidden" name="_id" value="<%= _id %>"/>
      <input type="hidden" name="isCompleted" value="<%= isCompleted %>"/>
      <button type="submit" class="btn btn-success">
        <%= buttonText %>
      </button>
    </form>

    <form action="/todo/todolist?_method=DELETE" method="POST">
      <input type="hidden" name="_id" value="<%= _id %>"/>
      <button type="submit" class="btn btn-danger">
        Delete
      </button>
    </form>
    

  </td>
</tr>
<tr class="todolist-table-row item-edit hidden" id="edit-<%= _id %>">

  <form action="/todo/todolist?_method=PUT" method="POST">
    <input type="hidden" name="_id" value="<%= _id %>" />
    <td> 
      <input type="text" name="title" value="<%= title %>" required/>
    </td>
    <td> 
      <input type="text" name="description" value="<%= description %>" required>
    </td>
    <td> 
      <select id="todo-form-priority" name="priority" required>
        <option value="High" <%= priority === "High" ? `selected` : null %> >High</option>
        <option value="Normal" <%= priority === "Normal" ? `selected` : null %> >Normal</option>
        <option value="Low" <%= priority === "Low" ? `selected` : null %> >Low</option>
      </select>
    </td>
    <td> 
      <select id="todo-form-status" name="status" required>
        <option value="Completed" <%= statusClass ? `selected` : null%> >Completed</option>
        <option value="In Progress" <%= !statusClass ? `selected` : null%> >In Progress</option>
      </select>
    </td>
    <td class="todolist-table-actions">
      <button 
        id="save-btn-<%= _id %>"
        class="save-btn btn btn-primary"
        type="submit"
      >
        Save
      </button>
      <button
        id="cancel-edit-btn-<%= _id %>"
        class="cancel-edit-btn btn btn-warning"
        type="button"
        onclick="toggleRow('<%= _id %>')"
      >
        Cancel
      </button>
    </td>
  </form>
</tr>