<tr class="todolist-table-row item-info" id="info-<%= idx %>">
  <td> <%= title %> </td>
  <td> <%= description %> </td>
  <td> <%= priority %> </td>
  <td> <%= status %> </td>
  <td class="todolist-table-actions">
    <button 
      id="edit-btn-<%-idx%>"
      class="edit-btn"
      onclick="toggleRow('<%= idx %>')"
    >
        Edit
    </button>
    <form action="/todo/todolist?_method=DELETE" method="POST">
      <input type="hidden" name="_id" value="<%= idx %>"/>
      <button type="submit" >
        Delete
      </button>
    </form>
  </td>
</tr>
<tr class="todolist-table-row item-edit hidden" id="edit-<%= idx %>">

  <form action="/todo/todolist?_method=PUT" method="POST">
    <input type="hidden" name="_id" value="<%= idx %>"/>
    <td> 
      <input type="text" name="title" value="<%= title %>" required/>
    </td>
    <td> 
      <input type="text" name="description" value="<%= description %>" required>
    </td>
    <td> 
      <select id="todo-form-priority" name="priority" required>
        <option value="High">High</option>
        <option value="Normal" selected>Normal</option>
        <option value="Low">Low</option>
      </select>
    </td>
    <td> 
      <select id="todo-form-status" name="status" required>
        <option value="Completed">Completed</option>
        <option value="In Progress" selected>In Progress</option>
      </select>
    </td>
    <td class="todolist-table-actions">
      <button 
        id="save-btn-<%= idx %>"
        class="save-btn"
        type="submit"
      >
        Save
      </button>
      <button
        id="cancel-edit-btn-<%= idx %>"
        class="cancel-edit-btn"
        type="button"
        onclick="toggleRow('<%= idx %>')"
      >
        Cancel
      </button>
    </td>
  </form>
</tr>